body
{
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 1px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects
{
    color: rgb(0, 119, 255)
}

#result_object_name
{
    color: black;
}

#result_object_accuracy
{
    color: black;
}